body {
background-color: #D0E4F5;
background-image: url("https://i.pinimg.com/736x/b1/52/fb/b152fbb42e81cf2994d87585a8a04dac.jpg");
background-repeat: repeat;
background-attachment: scroll;
background-position: 0 0;
}
body {
 padding: 50px 20px; 
}
  h2 {
    font-size: 100px;
    font-color: blue;
  }
 .shark{
  border: 5px solid #5EC883;
  border-radius: 10px;
  float: left;
  width: 300px;
  height: 300px;
 }
.text{
 font-size: 60px;
 color: #2F8751;
 text-align: right;
 position: right;
}
#title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
#title h1 {
	font-size: 2rem;
	color: darkturquoise;
}
.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.content-container .contentCard {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: row;
	width: 90%;
	margin-bottom: 10px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 90px;
	backdrop-filter: blur(10px);
	padding: 5px;
}
.content-container .contentCard .shark {
	border: 5px dashed #5EC883;
    border-radius: 180px;
	display: flex;
    align-items: center;
    width: 10rem;
    height: 10rem;
}
.content-container .contentCard .text {
	font-size: 1rem;
    color: black;
    text-align: left;
	width: 40%;
	padding-left: 1rem;
	padding-right: 25px;
}